@font-face {
  font-display: swap;
  font-family: "Exo20";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Exo20-Thin.woff2") format("woff2"),
  url("./fonts/Exo20-Thin.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Trebuchet";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/TrebuchetMS.woff2") format("woff2"),
  url("./fonts/TrebuchetMS.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Trebuchet";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/TrebuchetMS-Bold.woff2") format("woff2"),
  url("./fonts/TrebuchetMS-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Trebuchet', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: #2EA8E6;
  text-decoration-style: dashed;
}
:root {
  --default_color: #1698d9;
  --select_color: #D91667;
  --unavailable_bckg: #b3b3b3;
}